/*DHUNGANA SUBASH UN-ID:17421479*/
#biosection{
  padding-top:2%;
  margin-bottom:auto;
  padding-bottom: 10%;
  /*background-color:red;*/
}
/*a short biography of Dhungana Subash*/
p.biotext{
  color: white;
  font-size: 1.5em;
  font-style: normal;
  text-align: justify;
  margin:0px;
  margin-right:2px;
  padding:25px;
  font-family: 'Handlee', cursive;
}
/*image of Dhungana Subash*/
p.biotext img{
  transition: transform 5s;
  height:530px;
  width:400px;
  float:left;
  margin-right: 10px;
  margin-bottom:10px;
  margin-top:0px;
  border-radius:4%;
  border: 3px solid white;
  /*position:relative;*/
}
/*css when the image is hovered*/
p.biotext img:hover{transform: rotateY(360deg);
}
