body{
  /*background-color:#ffd699;*/
  background-image: url("../images/img1.jpg");
  background-repeat:repeat;
}
#head1{
  /*background-color: red;*/
  padding:0px;
  margin:0px;
  /*background-color: blue;*/
}
/*.container{
  margin:auto 10% auto 10%;
}*/
p.headertext{
  margin-top: 0px;
  margin-bottom: 0px;
  padding:30px;
  font-size: 4em;
  color:white;
  text-align: center;
  font-family: 'Lobster Two', cursive;
  /*background-color: silver;*/
}
#menubar{
  /*background-color: skyblue;*/
  margin-top: 0px;
  margin-bottom: 10px;
}
#menubar ul{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  margin:0;
  padding:1%;
  /*margin-right: 5%;*/
  /*background-color:skyblue;*/
}
#menubar ul li{
  /*background-color:black;*/
  flex-grow: 0;
  list-style: none;
  font-size: 40px;
  margin:0px;
  padding:3px;
  background: linear-gradient(to bottom, #7575a3,  #ff6600);
  border-radius: 50px;
  border: 3px solid #ff9933;
  /*padding:15px;*/
}
#menubar ul li:hover{
  /*background-color: blue;*/
  background: radial-gradient(yellow,red,pink);
}
#menubar ul li a{
  text-decoration: none;
  font-family: 'Righteous', cursive;
  color:white;
  margin:15px;
  padding:10px;
}
#cvsection{
  background-color:#a3c2c2;
  height:40%;
}



















footer{
  /*background-color: #802000;*/
  display:flex;
  padding-top:4%;
  justify-content: space-between;
}

#calldiv{
  /*background:lightgreen;*/
  display:flex;
  padding:4%;
  justify-content: space-around;
  width:20%;
}
#calldiv img{
  transition: transform 2s;
  width:50px;
  height:50px;
  border-radius:100px;
}
#calldiv img:hover{
  transform: rotate(360deg);
}
.calltext{
  font-family: 'Boogaloo', cursive;
  margin-top:10px;
  margin-left:10px;
  text-align:left;
  color:white;
  font-size:1em;
}
#contactdiv{
  /*background:blue;*/
  display:flex;
  padding: 4%;
  justify-content: space-around;
  width:22%;
  margin-top:0px;
}
#contactdiv img{
  transition: transform 3s;
  margin-left:0px;
  width:50px;
  height:50px;
  border-radius:50px;
}
#contactdiv img:hover{
  transform: rotate(360deg);
}
.contacttext{
  font-family: 'Boogaloo', cursive;
  margin-top:10px;
  margin-left:20px;
  text-align:left;
  color:white;
  font-size:1em;
}
#followmediv{
  /*background:skyblue;*/
  display:flex;
  padding-top:4%;
  justify-content: space-around;
  width:28%;
}
#followmediv img{

  transition: transform 3s;
  margin-left:0px;
  width:50px;
  height:50px;
  border-radius:50px;
}
#followmediv img:hover{
  transform: rotate(360deg);
}
.followmetext{
  font-family: 'Boogaloo', cursive;
  height:20%;
  padding-left: 0px;
  margin-top:10px;
  margin-left:0px;
  text-align: left;
  color:white;
  font-size:1em;
}
#socialsitesdiv{
  margin-top:10px;
  position: relative;
  margin-left:0px;
  display: flex;
  flex-direction:row;

}
#socialsitesdiv img{
  margin-top:0px;
  margin-left:3px;
  display: flex;
  position: relative;
  flex-direction:row;
  height:30px;
  width:30px;
}

#copyrightdiv{
  /*background:#9900cc;*/
  display:flex;
  padding:4%;
  justify-content: space-around;
  width:22%;
}
#copyrightdiv img{
  transition: transform 3s;
  margin-left:0px;
  width:50px;
  height:50px;
  border-radius:50px;
}
#copyrightdiv img:hover{
  transform: rotate(360deg);
}
.copyrighttext{
  font-family: 'Boogaloo', cursive;
  margin-top:10px;
  margin-left:20px;
  text-align:left;
  color:white;
  font-size:1em;
}
