/*DHUNGANA SUBASH UN-ID:17421479*/
/*css for body*/
body{
  /*background-color:#ffd699;*/
  background-image: url("../images/img1.jpg");/* path for background image*/
  background-repeat:repeat;
}
/*positioning proprties for hello text*/
#head1{
  /*background-color: red;*/
  padding:0px;
  margin:0px;
  /*background-color: blue;*/
}
/* css for hello text*/
p.headertext01{
  margin-top: 0px;
  margin-bottom: 0px;
  padding:30px;
  font-size: 4em;
  color:white;
  text-align: center;
  font-family: 'Lobster Two', cursive;
  /*background-color: silver;*/
}
/* css for naviagation menu bar*/
#menubar{
  /*background-color: purple;*/
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}
/*css for 1st div designed to display as flexbox later */
#a1forflex{
  list-style: none;
  /*background-color: red;*/
  }
/* css for anchor/link of homepage*/
#a1forflex a{
  border-radius: 50px;
  background: linear-gradient(to bottom, #7575a3,  #ff6600);
  border: 3px solid #ff9933;
  padding-left:5%;
  padding-right:5%;
  font-size:3em;
  text-decoration: none;
  font-family: 'Righteous', cursive;
  color:white;
}
/* css for anchor/link of homepage when it is hovered or pointed*/
#a1forflex a:hover{
background: radial-gradient(yellow,red,pink);
}
/*css for 2nd div designed to define using flex property later */
#a2forflex{
  /*background-color: yellow;*/
  list-style: none;
}
/* css for anchor/link of biopage*/
#a2forflex a{
  border-radius: 50px;
  background: linear-gradient(to bottom, #7575a3,  #ff6600);
  border: 3px solid #ff9933;
  padding-left:5%;
  padding-right:5%;
  font-size:3em;
  text-decoration: none;
  font-family: 'Righteous', cursive;
  color:white;
}
/* css for anchor/link of biopage when it is hovered or pointed*/
#a2forflex a:hover{
background: radial-gradient(yellow,red,pink);
}
#a3forflex{
  /*background-color:blue;*/
  list-style: none;
}
#a3forflex a{
  border-radius: 50px;
  background: linear-gradient(to bottom, #7575a3,  #ff6600);
  border: 3px solid #ff9933;
  padding-left:5%;
  padding-right:5%;
  font-size:3em;
  text-decoration: none;
  font-family: 'Righteous', cursive;
  color:white;
}
#a3forflex a:hover{
background: radial-gradient(yellow,red,pink);
}
/*css for 2nd div designed to define link of contactpage using flex property later */
#a4forflex{
  /*background-color:green;*/
  list-style: none;
}
#a4forflex a{
  border-radius: 50px;
  background: linear-gradient(to bottom, #7575a3,  #ff6600);
  border: 3px solid #ff9933;
  padding-left:5%;
  padding-right:5%;
  font-size:3em;
  text-decoration: none;
  font-family: 'Righteous', cursive;
  color:white;
}
#a4forflex a:hover{
background: radial-gradient(yellow,red,pink);
}
/*css to make menubar responsive*/
@media (max-width:850px) {
  #menubar{
  margin:auto;
  flex-direction: column;
  margin-left: 15%;
  /*background-color: red;*/
  }
}
/*css to define css of divs when screen width is decreased to its maximum value*/
@media (max-width:850px) {
  #a1forflex{
  margin-bottom:20px;
}
  #a2forflex{
  margin-bottom:20px;
}
  #a3forflex{
  margin-bottom:20px;
}
  #a4forflex{
  margin-bottom:20px;
}
}
/*css to define the properties of imagediv of Dhungana Subash */
#firstimage{
  padding-top:4%;
  /*background-image: url("../images/img1.jpg");*/
  background-position: top left;
  margin-top:0px;
  background-repeat:repeat;
}
/*css to define the properties of image of Dhungana Subash */
#firstimage img{
  margin: auto;
  display: block;
  transform: scale(1.0, 1.0);
  transition: transform 2s;
  width:400px;
  border: 4px solid #ff9933;
  border-radius: 100%;
}
/*css to define the properties of imagediv os Dhungana Subash when hovered */
#firstimage img:hover{
  transform:scale(0.5,0.5);
  border: 4px solid #ff9933;
  border-radius: 200px;
}
/*css to define the properties of text displayed below the picture of Dhungana Subash */
p.text1{
  font-size: 4em;
  text-align:center;
  margin:0px;
  font-family: 'Bree Serif', serif;
  color:white;
}
/*css to define the properties of text below my name*/
p.text2{
  font-size: 2em;
  text-align: center;
  margin:0px;
  font-family: 'Righteous', cursive;
  color:white;
}
/*#menubar{
  background-color: skyblue;
}*/
/*css to define the footer contents of the page*/
footer{
  /*background-color: #802000;*/
  display:flex;
  padding-top:4%;
  justify-content: space-between;
}
/*css to make footer content responsive*/
@media(max-width:850px) {
  footer{
  margin-left:15%;
  display: flex;
  flex-direction: column;
  /*padding-left:25%;*/
}
}
/*css to define the call div*/
#calldiv{
  /*background:lightgreen;*/
  display:flex;
  padding: 0%;
  margin:2%;
}
#flexforcall{
  display: flex;
  flex-direction: row;
  /*background-color: red;*/
}
#calldiv img{
  margin-top:5px;
  transition: transform 2s;
  width:50px;
  height:50px;
  border-radius:100px;
}
#calldiv img:hover{
  transform: rotate(360deg);
}
.calltext{
  font-family: 'Boogaloo', cursive;
  margin-top:10px;
  margin-left:20px;
  text-align:left;
  color:white;
  font-size:1em;
}
#contactdiv{
  /*background:blue;*/
  display:flex;
  padding: 0%;
  margin:2%;
}
#flexforcontact{
  /*background-color: red;*/
  display: flex;
  flex-direction: row;
}
#contactdiv img{
  margin-top:5px;
  transition: transform 3s;
  margin-left:0px;
  width:50px;
  height:50px;
  border-radius:50px;
}
#contactdiv img:hover{
  transform: rotate(360deg);
}
.contacttext{
  font-family: 'Boogaloo', cursive;
  margin-top:10px;
  margin-left:20px;
  text-align:left;
  color:white;
  font-size:1em;
}
#followmediv{
  /*background:skyblue;*/
  display:flex;
  padding-top:0%;
  /*justify-content: space-around;*/
  margin:2%;
}
#flexforfollow{
  display: flex;
  flex-direction: row;
  /*background-color: red;*/
}
#followmediv img{
  margin-top:5px;
  transition: transform 3s;
  margin-left:0px;
  width:50px;
  height:50px;
  border-radius:50px;
}
#followmediv img:hover{
  transform: rotate(360deg);
}
.followmetext{
  font-family: 'Boogaloo', cursive;
  height:20%;
  padding-left: 0px;
  margin-top:10px;
  margin-left:20px;
  text-align: left;
  color:white;
  font-size:1em;
}
#socialsitesdiv{
  /*background-color: blue;*/
  margin-top:10px;
  position: relative;
  margin-left:10px;
  display: flex;
  flex-direction:row;
}
#socialsitesdiv img{
  margin-top:0px;
  margin:5px;
  display: flex;
  position: relative;
  flex-direction:row;
  height:30px;
  width:30px;
}

#copyrightdiv{
  /*background:#9900cc;*/
  display:flex;
  padding:0%;
  margin:2%;
}
#flexforcopyright{
  /*background-color: red;*/
  display: flex;
  flex-direction: row;
}
#copyrightdiv img{
  margin-top:5px;
  transition: transform 3s;
  margin-left:0px;
  width:50px;
  height:50px;
  border-radius:50px;
}
#copyrightdiv img:hover{
  transform: rotate(360deg);
}
.copyrighttext{
  font-family: 'Boogaloo', cursive;
  margin-top:10px;
  margin-left:20px;
  text-align:left;
  color:white;
  font-size:1em;
}
